SECRET_KEY=secret

DEFAULT_FROM_EMAIL=email
EMAIL_HOST=host
EMAIL_HOST_USER=user
EMAIL_HOST_PASSWORD=password
EMAIL_PORT=port

DB_USER=user
DB_HOST=host
DB_PORT=port

SOCIAL_AUTH_PASSWORD=password
GOOGLE_CLIENT_ID=id
GOOGLE_CLIENT_SECRET=secret
